
        readonly string MyAllowSpecificOrigins = "_myAllowSpecificOrigins";

        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }

        // This method gets called by the runtime. Use this method to add services to the container.
        public void ConfigureServices(IServiceCollection services)
        {

            services.AddMvc();
            services.AddControllers(mvcOptions =>
                mvcOptions.EnableEndpointRouting = false);

            services.AddOData();

            services.AddCors(options =>
            {
                options.AddPolicy(name: MyAllowSpecificOrigins,
                                  builder =>
                                  {
                                      builder.WithOrigins("*");
                                      builder.AllowAnyHeader();
                                      builder.AllowAnyMethod();
                                  });
            });
        }

        // This method gets called by the runtime. Use this method to configure the HTTP request pipeline.
        public void Configure(IApplicationBuilder app, IWebHostEnvironment env)
        {
            if (env.IsDevelopment())
            {
                app.UseDeveloperExceptionPage();
            }

            app.UseStaticFiles(new StaticFileOptions()
            {
                FileProvider = new PhysicalFileProvider(
                    Path.Combine(Directory.GetCurrentDirectory(), @"Document")),
                RequestPath = new Microsoft.AspNetCore.Http.PathString("/document")
            });

            app.UseHttpsRedirection();

            app.UseRouting();

            app.UseCors(MyAllowSpecificOrigins);

            app.UseAuthorization();
            var builder = new ODataConventionModelBuilder(app.ApplicationServices);

            #entitySets#
            
            
            app.Use((context, next) =>
            {
                context.Response.Headers["Access-Control-Expose-Headers"] = "odata-version";
                context.Response.Headers["Access-Control-Allow-Headers"] = "odata-version, X-CSRF-TOKEN";
                context.Response.Headers["OData-Version"] = "4.0";
                return next.Invoke();
            });

            app.UseODataBatching();

            app.UseMvc(routeBuilder =>
            {
                // and this line to enable OData query option, for example $filter

                routeBuilder.Expand().Select().OrderBy().Filter().MaxTop(null).Count();
                routeBuilder.EnableDependencyInjection();

                routeBuilder.MapODataServiceRoute("ODataRoute", "odata", builder.GetEdmModel(), new DefaultODataBatchHandler());

            });
        }