
            
            modelBuilder.Entity<#entity#>()
                .HasOne<#entityOne#>(e => e.#entityOne#)
                .WithMany(i => i.#propertyMany#)
                .HasForeignKey(e => e.#referenceProperty#);