        public Context() : base()
        {
            Database.EnsureCreated();
        }

        protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
        {
            IConfiguration config = null;

            config = new ConfigurationBuilder()
                        .AddJsonFile("appsettings.json", true, true)
                        .Build();

            optionsBuilder.UseSqlServer(ConnectionStringBuilder(
                                                    config["DATABASESERVER"]
                                                    ,
                                                    config["DATABASENAME"]
                                                    ,
                                                    config["DATABASEUSERNAME"]
                                                    ,
                                                    config["DATABASEPASSWORD"]));

        }

        #dbSets#

        protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
            #connections#

            #entities#
        }

        public string ConnectionStringBuilder(string ip, string databaseName, string username, string password)
        {
            return "Server=" + ip + ";Database=" + databaseName +
                ";Trusted_Connection=false;uid=" + username +
                ";pwd=" + password + ";";
        }