        public Context() : base()
        {
            Database.EnsureCreated();
        }

        protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
        {
            optionsBuilder.UseSqlServer(@"#connectionString#");

        }

        #dbSets#

        protected override void OnModelCreating(ModelBuilder modelBuilder)
        {

            #entities#
        }